@using Sabujcha.Areas.SabujchaAdminPanel.ViewModels;


@model UserEditVM
<form method="post" asp-controller="UserEdits" asp-action="UserDelete">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
