@using Sabujcha.ViewModels;
@model HeaderVM
<header class="header-area gray-bg clearfix">
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="logo">
                        <a href="index.html">
                            <img alt="" src="~/assets/img/logo/logo.png">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-6">
                    <div class="header-bottom-right">
                        <div class="main-menu">
                            <nav>

                                <ul>
                                    <li class="top-hover">
                                        <a href="index.html">home</a>
                                    </li>
                                    <li>
                                        <a asp-controller="AboutUs" asp-action="Index">about</a>
                                    </li>
                                    <li class="mega-menu-position top-hover">
                                        <a href="shop.html">shop</a>
                                        <ul class="mega-menu">
                                            @foreach (HeaderCatagorys hc in Model.HeaderCatagorys)
                                            {
                                                <li>
                                                    <ul>
                                                        <li class="mega-menu-title">@hc.Name</li>
                                                        @foreach (CatagoryNames cn in Model.CatagoryNames)
                                                        {
                                                            @if (cn.HeaderCatagorysId == hc.Id)
                                                            {
                                                                <li><a href="shop.html">@cn.Name</a></li>
                                                            }
                                                        }

                                                    </ul>
                                                </li>
                                            }

                                        </ul>
                                    </li>
                                    <li class="top-hover">
                                        <a asp-controller="Account" asp-action="Register">Sign Up</a>
                                     


                                    </li> 
                                    <li class="top-hover">
                                        <a asp-controller="Account" asp-action="Login">Login</a>


                                    </li>

                                    <li class="top-hover">
                                        <a href="#">pages</a>
                                        <ul class="submenu">

                                            @foreach (var items in Model.HeaderDropNames)
                                            {
                                                <li><a asp-controller="AboutUs" asp-action="Index">@items.Name</a></li>
                                            }


                                        </ul>
                                    </li>
                                    <li><a href="contact.html">contact</a></li>
                                </ul>

                            </nav>
                        </div>
                        <div class="header-currency">
                            <span class="digit">USD <i class="ti-angle-down"></i></span>
                            <div class="dollar-submenu">
                                <ul>
                                    <li><a href="#">$ USD</a></li>
                                    <li><a href="#">€ EUR</a></li>
                                    <li><a href="#">£ GBP</a></li>
                                    <li><a href="#">₹ INR</a></li>
                                    <li><a href="#">¥ JPY</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="header-cart">
                            <a href="#">
                                <div class="cart-icon">
                                    <i class="ti-shopping-cart"></i>
                                </div>
                            </a>
                            <div class="shopping-cart-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>