@using Sabujcha.ViewModels;
@{
    Layout = "_Layout2.cshtml";
}
@*@model LoginVM*@

<body>
    <p>xoş gəlmisiniz <span>@User.Identity.Name</span></p>
    <p class="Acoount">Siz buradan Öz Accountunuzu idarə edib,Datalarınızı (yəniki sizin Account məlumatlarınızı dəyişə bilərsiniz),Hər Hansı bir sualınız varsa <a href="#">Contact</a> hissəsindən əlaqə saxlaya bilərsiniz</p>
</body>